<a href="https://colab.research.google.com/github/isaacwan95/nlp/blob/master/Cleaningdata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os
import json
import gzip
import pandas as pd
from urllib.request import urlopen

In [0]:
!wget http://deepyeti.ucsd.edu/jianmo/amazon/metaFiles/meta_Cell_Phones_and_Accessories.json.gz

--2020-05-23 01:42:08--  http://deepyeti.ucsd.edu/jianmo/amazon/metaFiles/meta_Cell_Phones_and_Accessories.json.gz
Resolving deepyeti.ucsd.edu (deepyeti.ucsd.edu)... 169.228.63.50
Connecting to deepyeti.ucsd.edu (deepyeti.ucsd.edu)|169.228.63.50|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 258166282 (246M) [application/octet-stream]
Saving to: ‘meta_Cell_Phones_and_Accessories.json.gz.1’

meta_Cell_Phones_an 100%[===================>] 246.21M  38.8MB/s    in 6.8s

2020-05-23 01:42:15 (36.4 MB/s) - ‘meta_Cell_Phones_and_Accessories.json.gz.1’ saved [258166282/258166282]

In [0]:
data = []
with gzip.open('meta_Cell_Phones_and_Accessories.json.gz') as f:
    for l in f:
        data.append(json.loads(l.strip()))

In [0]:
print(len(data))

590269

In [0]:
df = pd.DataFrame.from_dict(data)

print(len(df))

590269

In [0]:
df['price'].isnull().sum()

465532

In [0]:
df['price'] = df['price'].str.replace('$', '')
df['price'] = df['price'].str.replace(',', '')

In [0]:
df = df[~df['price'].str.contains('-', na = False)]

In [0]:
df['price'] = pd.to_numeric(df['price'])

In [0]:
df['price'].dropna(inplace = True)

In [0]:
df.dropna(subset = ['price'],inplace = True)

In [0]:
df = df[df['price']> 250]

In [0]:
df = df[df['main_cat'] == 'Cell Phones & Accessories']

In [0]:
brand = pd.DataFrame(df['brand'].unique())

In [0]:
df2 = df.groupby('brand')['asin'].nunique()

In [0]:
df2 = pd.DataFrame(df2)

In [0]:
df2 = df2.reset_index()
df2

            brand  asin
0          1byone     1
1        ACCBTECH     1
2    ACK Avionics     1
3          ALTEAM     1
4            ASUS     1
..            ...   ...
123      redhoney     1
124         sneba     1
125      verykool     1
126       weBoost     1
127         wekin     1

[128 rows x 2 columns]

In [0]:
df2.sort_values(by=['asin'],ascending = False,inplace=True)

In [0]:
df2.head(20)

             brand  asin
80         Samsung    51
91            Sony     9
10      BlackBerry     9
28          Garmin     9
63           Nokia     9
51              LG     8
31             HTC     8
33          Huawei     7
89           Sliiq     7
7            Apple     6
19       ChefzBest     5
18      ChargeTech     4
48     KineticWave     4
103         Uniden     3
46     KejstutCorp     3
115           ZUCA     3
83   SatPhoneStore     3
11       BlueCosmo     3
68         Pavlysh     3
5            AUKEY     3

In [0]:
df = df[df['brand'].isin(['Samsung','Apple','Sony','BlackBerry','Nokia','LG','HTC','HUAWEI'])]

In [0]:
df

                                                 category  ...  fit
6631    [Cell Phones & Accessories, Cell Phones, Unloc...  ...  NaN
66650   [Cell Phones & Accessories, Cell Phones, Carri...  ...  NaN
70986   [Cell Phones & Accessories, Cell Phones, Unloc...  ...  NaN
71135   [Cell Phones & Accessories, Cell Phones, Carri...  ...  NaN
79824   [Cell Phones & Accessories, Cell Phones, Unloc...  ...  NaN
...                                                   ...  ...  ...
547317  [Cell Phones & Accessories, Cell Phones, Carri...  ...  NaN
555250  [Cell Phones & Accessories, Cell Phones, Carri...  ...  NaN
558082  [Cell Phones & Accessories, Cell Phones, Unloc...  ...  NaN
569573  [Cell Phones & Accessories, Cell Phones, Carri...  ...  NaN
588795  [Cell Phones & Accessories, Cell Phones, Carri...  ...  NaN

[100 rows x 18 columns]

In [0]:
df.to_csv('gg.csv')

In [0]:
from google.colab import files
files.download('gg.csv')

In [0]:
df[df['asin']=='B01HJFFEFO']

Empty DataFrame
Columns: [category, description, title, image, brand, feature, rank, main_cat, asin, also_buy, also_view, similar_item, price, date, details, tech1, tech2, fit]
Index: []